@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-image: url("../assets/images/image.jpg");
}

.hidden {
	display: none;
}
.navbar {
	padding: 20px;
}
.navbar-black {
	background-color: black;
}
.navbar-white {
	background-color: white;
}

.nav-logo {
	height: 40px;
	object-fit: contain;
}

.nav-link {
	font-family: "Open Sans", sans-serif;
	font-weight: 800 !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#index-hero {
	background-image: url("https://cdn.glitch.com/1498b52d-28c8-43b0-8db0-18c74e93273c%2Fsrf3.jpg?v=1619767381732");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0;
	height: 45vh;
}
#hero-image {
	width: 35%;
	border-radius: 5px;
	margin-bottom: 20px;
	filter: drop-shadow(0px 5px 5px black);
}
#hero-heading {
	font-weight: 800;
	color: black;
	font-size: 1.5em;
}

#hero-button {
	background-color: black;
	color: white;
	border: 1px solid lightgray;
	font-weight: bold;
}
#hero-content {
	width: 50%;
	text-align: center;
	transform: translateY(-10px);
}

#course-hero {
	background-image: url("https://cdn.glitch.com/1498b52d-28c8-43b0-8db0-18c74e93273c%2Fsrfbrds2.jpg?v=1619767389830");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0;
	height: 45vh;
}

#course-hero-image {
	width: 25%;
	border-radius: 5px;
	filter: drop-shadow(0px 5px 5px black);
}

#course-heading {
	font-weight: 800;
	color: black;
	text-align: center;
}

#create-course-btn {
	background-color: black;
	color: white;
	border: 1px solid lightgray;
	font-weight: bold;
}

.card {
	border-radius: 8px;
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

.card-image {
	width: 100%;
	height: 170px;
}
.card-title {
	margin-top: 10px;
}
.cards-container {
	transform: translateY(-100px);
}

.footer {
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 0.7em;
	opacity: 0.7;
}

@media screen and (max-width: 1024px) {
	#hero-image {
		width: 42%;
	}
	#hero-heading {
		font-size: 1.3em;
	}
	.card-text {
		font-size: 0.9em;
	}
	.card-image {
		height: 160px;
	}

	#course-hero-image {
		width: 30%;
	}
}

@media screen and (max-width: 500px) {
	#hero-image {
		width: 75%;
	}
	#hero-heading {
		font-size: 1em;
	}
	#hero-content {
		width: 60%;
		text-align: center;
		margin-top: 20px;
	}
	#hero-button {
		width: 60%;
		font-size: 0.8em;
	}
	.cards-container {
		transform: translateY(-80px);
	}
	#course-hero-image {
		width: 50%;
		transform: translateY(30px);
	}
}
